In [11]:
import pandas as pd
import numpy as np

In [10]:
x = 5

print(x)

5

In [12]:
df = pd.DataFrame(
    {"a" : [4, 5, 6], 
    "b" : [7, 8, 9], 
    "c" : [10, 11, 12]}, 
    index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12